:root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
}

.right-triangle, .left-triangle {
    width: 100%; /* Ensure it doesn't exceed the container width */
}

.dark-mode {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #1A1A1A;
    --bg_body: #282828;
    --lines-color: #000000;
    --body-text: #EDEDED;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--body-text); 
}

.header {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: var(--bg_default);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px, 0; */
    margin-bottom: 10px;
}

.h1-content {
    color: var(--brand-primary);
}

.icon-buttons {
    display: flex;
    align-items: flex-end;
}

.icon-label {
    display: flex;
    align-items: center;
    border: 1px solid var(--lines-color);
    border-radius: 5px;
    padding: 8px 12px;
    margin: 3px;
    background-color: var(--bg_default);
    color: var(--body-text);
    border-color: var(--body-text);
}

.icon-label i {
    margin-right: 8px;
}

.right-triangle {
  position: relative; 
  width: 100vw;
  height: 75px;
  background-color: var(--brand-secondary); 
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 0%);
  z-index: 1;
}

.left-triangle {
  position: relative; 
  width: 100vw;
  height: 75px;
  background: linear-gradient(to right, var(--brand-primary), var(--brand-secondary));
  clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
  z-index: 2;
  margin-top: -75px; 
}
.bottom-nav {
    display: flex;
    justify-content: center;
    /* margin-bottom: 10px; */
}
.welcome-banner {
    margin-bottom: 10px;
}

.welcome-banner-firstLine {
    color: var(--brand-secondary);
}
.welcome-banner-secondLine{
    color: var(--body-text);
}


